header {
  min-height: 80vh;
  position: relative;

  &::before {
    content: '';
    display: block;
    background-image: url(../../../img/header_background.jpg);
    background-size: cover;
    opacity: .3;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  /* Nav */

  nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .nav__menu {
      display: flex;
      gap: 10%;
      padding: 8%;

      .fa-bars {
        cursor: pointer;
        font-size: 25px;
        transition: 0.3s linear all;

        &:hover {
          color: blue;
        }
      }

      .nav__pages {
        display: flex;
        gap: 10%;

        a {
          cursor: pointer;
          white-space: nowrap;
          font-size: 20px;
          color: black;
          transition: 0.3s linear all;

          &::after {
            content: '';
            display: block;
            width: 0%;
            height: 4px;
            background-color: blue;
            border-radius: 20px;
            box-shadow: 1px 1px 15px blue;
            transition: all .2s linear;
            margin: 0 auto;
          }

          &:hover::after {
            width: 100%;
          }
        }
      }
    }

    .nav__logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .logo__image {
        width: 60px;
        height: 60px;
      }

      .logo__caption {
        font-size: 35px;
      }
    }

    .profile__icons {
      display: flex;
      justify-content: flex-end;
      gap: 5%;
      font-size: 30px;
      color: gray;
      padding: 8%;
      padding-right: 20%;

      i {
        cursor: pointer;
        transition: 0.3s linear all;

        &:hover {
          color: blue
        }
      }

      .profile__email {
        display: flex;
        position: relative;

        .email__messages_amount {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: blue;
          width: 10px;
          height: 10px;
          border-radius: 40%;
          position: absolute;
          font-size: 10px;
          color: #fff;
          left: 70%;
          bottom: 85%;
        }
      }

      .profile__login {
        text-transform: uppercase;
        font-size: 12px;
        background: linear-gradient(violet, blue);
        color: #fff;
        cursor: pointer;
        width: 20%;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        position: relative;
        overflow: hidden;

        &:before {
          content: '';
          position: absolute;
          width: 120%;
          height: 120%;
          background-color: blue;
          opacity: 0.4;
          left: -110%;
          top: 90%;
          transform: rotate(45deg);
        }

        @keyframes hover {
          0% {
            top: -110%;
            left: 90%;
          }

          50% {
            top: 10%;
            left: -30%;
          }

          100% {
            top: -10%;
            left: -10%;
          }
        }


        &:hover {
          &::before {
            animation-name: hover;
            animation-duration: .6s;
            top: -10%;
            left: -10%;
          }
        }
      }
    }
  }

  .header__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

    .header__desc--caption {
      display: flex;
      flex-direction: column;
      color: rgb(69, 30, 184);
      align-items: center;
      font-size: 40px;
      text-align: center;
    }

    .header__desc--description {
      color: gray;
      font-size: 14px;
      margin: 1% 0;
    }

    .header__desc--button {
      width: 7%;
      height: 40px;
      background-color: rgb(69, 30, 184);
      color: #fff;
      text-shadow: 1px 1px 5px #fff;
      font-size: 13px;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 5px;
    }
  }
}