body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h5,
svg {
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 1000px;
  background: url("../images/background.png") center no-repeat;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
}

.intro__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 60px auto;
}

.intro__suptitle {
  font-size: 72px;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 20px;
}

/* Button */
.btn {
  display: inline-block;
  vertical-align: top;
  border: 3px #fff solid;
  padding: 8px 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.1s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}
/* Header */
.header {
  width: 100%;
  padding-top: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

/* Nav */
.nav {
  text-transform: uppercase;
  font-size: 14px;
}

.nav__link,
.icon {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  text-transition: color 0.1s linear;
  position: relative;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.nav__link:hover,
.nav__link.active {
  color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
  opacity: 1;
}

/* Slider */
.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.slider__inner {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  width: 23%;
  padding: 20px 0;
  border-top: 3px solid #fff;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.7;
  position: relative;
}

.slider__item.active {
  opacity: 1;
}

.slider__item.active:before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
  background-color: #f38181;
}

.slider__num {
  font-size: 24px;
  font-weight: 700;
}

/* About Us. Text */

.AboutUs_container,
.WeWorkWith_container,
.WhatWeDo_container,
.ForAllDevices_container {
  max-width: 100%;
  height: 750px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.AboutUs__inner,
.WeWorkWith__inner,
.ForAllDevices__inner,
.WhatWeDo__inner {
  display: flex;
  flex-direction: column;
  width: 1210px;
  height: 550px;
  align-items: center;
  text-align: center;
  gap: 120px;
}

.AboutUs_text__inner h3,
.WeWorkWith_text__inner h3,
.ForAllDevices_text__inner h3,
.WhatWeDo_text__inner h3 {
  font-weight: 400;
  font-size: 24px;
  font-family: "Kaushan Script";
}

.AboutUs_text__inner h5,
.WeWorkWith_text__inner h5,
.ForAllDevices_text__inner h5,
.WhatWeDo_text__inner h5 {
  font-family: Montserrat;
  font-size: 30px;
}

.AboutUs_text__inner h5:after,
.WeWorkWith_text__inner h5:after,
.ForAllDevices_text__inner h5:after,
.WhatWeDo_text__inner h5:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 30px auto;
}

.AboutUs_text__inner p {
  width: 954px;
  height: 39px;
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

/* About Us. Pictures */

.AboutUs_image__inner {
  display: flex;
  justify-content: justify-beween;
}

.image img {
  display: block;
  transition: opacity 0.3s linear;
}

.AboutUs__item:hover .AboutUs__img {
  transform: translate3d(-10px, -10px, 0);
}

.AboutUs__img {
  transition: transform 0.2s linear;
}

.AboutUs__img img {
  display: block;
  transition: opacity 0.1s linear;
  width: 380px;
  height: 250px;
}

/* Statistics */

.statistics {
  display: flex;
  background-color: #95e1d3;
  width: 100%;
  height: 270px;
  justify-content: center;
}

.statistics__inner {
  display: flex;
  justify-content: space-evenly;
  width: 1201px;
}

.statistics_item {
  padding: 50px;
  border-left: 2px solid #ace8dd;
  border-right: 2px solid #ace8dd;
  color: white;
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 700;
  width: 250px;
}

.statistics_item span {
  font-size: 14px;
  font-weight: 400;
}

/* We work with. Text */

.WeWorkWith__inner {
  gap: 60px;
}

/* Amazing Services */

.services {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.service {
  width: 400px;
}

.services_first_row {
  display: flex;
  gap: 70px;
  border-bottom: 1px #e5e5e5 solid;
  padding-bottom: 50px;
}

.services_second_row {
  display: flex;
  gap: 70px;
}

.service svg {
  color: #95e1d3;
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
}

.service h5 {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.service p {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/* For all devices. Text */

.ForAllDevices_container {
  background: url("../images/for_all_devices_background.png") center no-repeat;
  background-size: cover;
}

.ForAllDevices__inner {
  gap: 60px;
}

/* For all devices. Images */

.ForAllDevices__inner {
  position: relative;
}

.ForAllDevices_phone1 {
  position: absolute;
  width: 400px;
  height: 490px;
  right: 400px;
}

.ForAllDevices_phone2 {
  position: absolute;
  right: 230px;
  top: 300px;
}

.ForAllDevices_text__inner h5:after {
  margin-top: 10px;
  margin-bottom: 1px;
}

/* What We Do. Text */

.WhatWeDo_container {
  background-color: #fff;
}

.WhatWeDo_start_text {
  width: 954px;
  height: 39px;
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.WhatWeDo_main__inner {
  display: flex;
  gap: 30px;
}

.WhatWeDo {
  height: 900px;
}

.WhatWeDo_header {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #e5e5e5;
  padding: 10px;
}

.WhatWeDo_service p {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.WhatWeDo_services {
  width: 600px;
  height: 400px;
}

.WhatWeDo_text {
  width: 600px;
  height: 180px;
  border: 1px solid #e5e5e5;
  overflow: auto;
}

.WhatWeDo_text p {
  color: #999999;
  font-family: "Roboto";
  font-style: Light-italic;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 525px;
  height: 132px;
}

.WhatWeDo_text::-webkit-scrollbar {
  width: 5px;
}

.WhatWeDo_text::-webkit-scrollbar-thumb {
  background-color: #95e1d3;
  border-radius: 30px;
}

.WhatWeDo_chevron {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
}

/* Scroll */

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, white, black);
  border-radius: 15px;
}

/* Quote */
.quote {
  width: 100%;
  height: 290px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote blockquote p {
  width: 767px;
  height: 96px;
  color: #999999;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  font-style: Light-italic;
}

.quote_icon {
  width: 125px;
  height: 125px;
  border: 3px solid #95e1d3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote_chevron {
  margin: 50px;
}

.quote_author {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

.quote_author:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;
  background-color: #f38181;
}
