body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
svg {
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 1000px;
  background: url("../images/Other/background.png") center no-repeat;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
}

.intro__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 60px auto;
}

.intro__suptitle {
  font-size: 72px;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 20px;
}

/* Button */
.btn {
  display: inline-block;
  vertical-align: top;
  border: 3px #fff solid;
  padding: 8px 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.1s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}
/* Header */
.header {
  width: 100%;
  padding-top: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

/* Nav */
.nav {
  text-transform: uppercase;
  font-size: 14px;
}

.nav__link,
.icon {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.nav__link:hover,
.nav__link.active {
  color: #fce38a;
}

.nav__link:hover::after,
.nav__link.active::after {
  opacity: 1;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon:hover {
  stroke: #fce38a
}

/* Slider */
.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.slider__inner {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  width: 23%;
  padding: 20px 0;
  border-top: 3px solid #fff;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.7;
  position: relative;
}

.slider__item.active {
  opacity: 1;
}

.slider__item.active::before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
  background-color: #f38181;
}

.slider__num {
  font-size: 24px;
  font-weight: 700;
}

/* About Us. Text */

.AboutUs_container,
.WeWorkWith_container,
.WhatWeDo_container,
.ForAllDevices_container,
.WhoWeAre_container,
.OurWork_container,
.OurStories_container {
  max-width: 100%;
  height: 750px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.AboutUs__inner,
.WeWorkWith__inner,
.ForAllDevices__inner,
.WhatWeDo__inner,
.WhoWeAre__inner,
.OurWork__inner,
.HappyClients__inner,
.OurStories__inner {
  display: flex;
  flex-direction: column;
  width: 1210px;
  align-items: center;
  text-align: center;
  gap: 120px;
}

.AboutUs_header__inner h3,
.WeWorkWith_header__inner h3,
.ForAllDevices_header__inner h3,
.WhatWeDo_header__inner h3,
.WhoWeAre_header__inner h3,
.OurWork_header__inner h3,
.HappyClients_header__inner h3,
.OurStories_header__inner h3 {
  font-weight: 400;
  font-size: 24px;
  font-family: "Kaushan Script";
}

.AboutUs_header__inner h5,
.WeWorkWith_header__inner h5,
.ForAllDevices_header__inner h5,
.WhatWeDo_header__inner h5,
.WhoWeAre_header__inner h5,
.OurWork_header__inner h5,
.HappyClients_header__inner h5,
.OurStories_header__inner h5 {
  font-family: Montserrat;
  font-size: 30px;
  text-transform: uppercase;
}

.AboutUs_header__inner h5::after,
.WeWorkWith_header__inner h5::after,
.ForAllDevices_header__inner h5::after,
.WhatWeDo_header__inner h5::after,
.WhoWeAre_header__inner h5::after,
.OurWork_header__inner h5::after,
.HappyClients_header__inner h5::after,
.OurStories_header__inner h5::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 30px auto;
}

.AboutUs_header__inner p,
.WhoWeAre_header__inner p,
.OurWork_header__inner p {
  width: 954px;
  height: 39px;
  color: #999999;
  font-family: "Roboto - Light Italic";
  font-style: italic;
  font-weight: lighter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

/* About Us. Pictures */

.AboutUs_image__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.AboutUs__item:hover {
  position: relative;
  background-color: #95e1d3;
}

.AboutUs__img:hover {
  transform: translate3d(-10px, -10px, 0);
}

.AboutUs__img:hover::before {
  content: "";
  display: block;
  width: 380px;
  height: 250px;
  position: absolute;
  background: linear-gradient(to bottom, #f38181, #fce38a);
  opacity: 0.8;
}

.AboutUs__img:hover::after {
  content: url("../images/Other/users.png") "Super Team";
  display: block;
  position: absolute;
  left: 120px;
  top: 70px;
  width: 140px;
  height: 14px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}


.AboutUs__img,
.OurStories__img {
  transition: all 0.3s linear;
}

.AboutUs__img img {
  display: block;
  transition: all 0.3s linear;
  width: 380px;
  height: 250px;
}

/* Statistics */

.statistics {
  display: flex;
  background-color: #95e1d3;
  width: 100%;
  height: 270px;
  justify-content: center;
}

.statistics__inner {
  display: flex;
  justify-content: space-evenly;
  width: 1201px;
}

.statistics_item {
  padding: 50px;
  border-left: 2px solid #ace8dd;
  border-right: 2px solid #ace8dd;
  color: white;
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 700;
  width: 250px;
}

.statistics_item span {
  font-size: 14px;
  font-weight: 400;
}

/* We work with. Text */

.WeWorkWith__inner {
  gap: 60px;
}

/* Amazing Services */

.services {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.service {
  width: 400px;
}

.services_first_row {
  display: flex;
  gap: 70px;
  border-bottom: 1px #e5e5e5 solid;
  padding-bottom: 50px;
}

.services_second_row {
  display: flex;
  gap: 70px;
}

.service svg {
  color: #95e1d3;
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
  width: 32px;
  height: 31px;
}

.service h5 {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.service p {
  color: #999999;
  font-family: "Roboto - Light Italic";
  font-style: italic;
  font-weight: lighter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/* For all devices. Text */

.ForAllDevices_container {
  background: url("../images/ForAllDevices_images/ForAllDevices_background.png") center no-repeat;
  background-size: cover;
}

.ForAllDevices__inner {
  gap: 60px;
}

/* For all devices. Images */

.ForAllDevices__inner {
  position: relative;
}

.ForAllDevices_phone1 {
  position: absolute;
  width: 400px;
  height: 490px;
  right: 400px;
}

.ForAllDevices_phone2 {
  position: absolute;
  right: 230px;
  top: 300px;
}

.ForAllDevices_header__inner h5::after {
  margin-top: 10px;
  margin-bottom: 1px;
}

/* What We Do. Text */

.WhatWeDo_header__inner {
  margin-top: 350px;
}

.WhatWeDo_container {
  background-color: #fff;
  height: 900px;
  margin-bottom: 300px;
}

.WhatWeDo_start_text {
  width: 954px;
  height: 39px;
  color: #999999;
  font-family: "Roboto - Light Italic";
  font-style: italic;
  font-weight: lighter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 50px;
}

.WhatWeDo_main__inner {
  display: flex;
  gap: 30px;
}

.WhatWeDo_header {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #e5e5e5;
  padding: 10px;
}

.WhatWeDo_header svg {
  width: 35px;
  height: 35px;
}

.WhatWeDo_service p {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.WhatWeDo_services {
  width: 600px;
  height: 400px;
}

.WhatWeDo_text {
  width: 600px;
  height: 180px;
  border: 1px solid #e5e5e5;
  overflow: auto;
}

.WhatWeDo_text p {
  color: #999999;
  font-family: "Roboto - Light Italic";
  font-style: italic;
  font-weight: lighter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 525px;
  height: 132px;
}

.WhatWeDo_text::-webkit-scrollbar {
  width: 5px;
}

.WhatWeDo_text::-webkit-scrollbar-thumb {
  background-color: #95e1d3;
  border-radius: 30px;
}

.WhatWeDo_chevron {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  width: 50px;
  height: 30px;
}

/* Scroll */

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #f38181, #fce38a);
  border-radius: 15px;
}

/* Quote */

.quote {
  width: 100%;
  height: 290px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.quote blockquote p {
  width: 767px;
  height: 96px;
  color: #999999;
  font-family: "Roboto - Light Italic";
  font-style: italic;
  font-weight: lighter;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}

.quote_icon {
  width: 125px;
  height: 125px;
  border: 3px solid #95e1d3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote_icon svg {
  width: 75px;
  height: 75px;
}

.quote_chevron {
  margin: 50px;
  width: 50px;
  height: 30px;
}

.quote_author {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

.quote_author::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;
  background-color: #f38181;
}

/* WhoWeAre. Pictures */

.WhoWeAre_image__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.WhoWeAre__item:hover {
  position: relative;
  background-color: #95e1d3;
  transition: all 0.2s linear;
  width: 380px;
  height: 470px;
}

.WhoWeAre__img:hover {
  transform: translate3d(-10px, -10px, 0);
}

.WhoWeAre__img:hover::before {
  content: "";
  display: block;
  width: 380px;
  height: 470px;
  position: absolute;
  background: linear-gradient(to bottom, #f38181, #fce38a);
  opacity: 0.8;
  transition: all 0.2s linear;
}

.WhoWeAre__img:hover .WhoWeAre_socials {
  opacity: 1;
  transition: all 0.2s linear;
}

.WhoWeAre__img {
  position: relative;
  transition: all 0.2s linear;
}

.WhoWeAre__img img {
  display: block;
  width: 380px;
  height: 470px;
}

.WhoWeAre_socials {
  display: flex;
  background-color: #fce38a;
  position: absolute;
  left: 75px;
  top: 200px;
  width: 224px;
  height: 56px;
  opacity: 0;
}

.WhoWeAre_social {
  width: 56px;
  height: 56px;
  position: relative;
}

.WhoWeAre_social svg {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 9px;
  top: 9px;
  fill: #f38181;
}

.WhoWeAre_social:hover {
  background-color: #f38181;
  transition: all 0.2s linear;
}

.WhoWeAre_social:hover svg {
  fill: #fff;
  transition: all 0.2s linear;
}

/* Who We Are. Text */

.WhoWeAre__item h5 {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}

.WhoWeAre__item p {
  color: #999999;
  font-family: "Roboto - Light Italic";
  font-style: italic;
  font-weight: lighter;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

/* Logos */

.logos {
  width: 100%;
  height: 250px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
  margin-bottom: 100px;
}

/* Some of our work. Images. */

.OurWork_image__inner {
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-template-rows: repeat(2, [row] 1fr);
  max-width: 100%;
  height: 800px;
}

.OurWork__inner {
  height: 300px;
}

.OurWork__item {
  height: 400px;
}

.OurWork__item_6 {
  grid-column: col 4;
}

.OurWork__item:hover {
  position: relative;
}

.OurWork__img:hover::before {
  content: "Lorem ipsum dolor sit";
  display: flex;
  width: 100%;
  height: 400px;
  position: absolute;
  background-image: linear-gradient(to bottom, #f38181, #fce38a);
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Roboto - Light Italic";
  font-style: italic;
  font-weight: lighter;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

.OurWork__img:hover::after {
  content: url("../images/Other/image.png") "\A creatively designed" ;
  display: flex;
  position: absolute;
  left: 170px;
  top: 120px;
  width: 120px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  white-space: pre;
  justify-content: center;
}

.OurWork__img img {
  display: block;
  height: 400px;
  width: 455px;
}

.OurWork__img_special img {
  width: 480px;
  height: 800px;
}

.OurWork__img_special:hover::before {
  content: "Lorem ipsum dolor sit";
  display: flex;
  width: 100%;
  height: 800px;
  position: absolute;
  background-image: linear-gradient(to bottom, #6dfefe, #01185c);
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Roboto - Light Italic";
  font-style: italic;
  font-weight: lighter;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

.OurWork__img_special:hover::after {
  content: url("../images/Other/image.png") "\A creatively designed" ;
  display: flex;
  position: absolute;
  left: 181px;
  top: 300px;
  width: 120px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  white-space: pre;
  justify-content: center;
}


/* Quote */

.quote_2 {
  width: 100%;
  height: 450px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 350px
}

.quote_2 blockquote p {
  width: 767px;
  height: 96px;
  color: #999999;
  font-family: "Roboto - Light Italic";
  font-style: italic;
  font-weight: lighter;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
}

.quote_icon {
  width: 125px;
  height: 125px;
  border: 3px solid #95e1d3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote_chevron {
  margin: 50px;
}

.quote_author {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

.quote_author::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;
  background-color: #f38181;
}

/* Happy Clients */

.HappyClients_container {
  background: url("../images/HappyClients_images/happyclients_background_image.png") center no-repeat;
  width: 100%;
  height: 1000px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.HappyClients_clients__inner {
  display: grid;
  grid-template-columns: repeat(2, [col] 1fr);
  grid-template-rows: repeat(2, [row] 1fr);
  position: relative;
  gap: 80px 10px;
}

.HappyClients__img {
  float: left;
  margin-top: -30px;
  height: 200px;
}

.HappyClients__item_info h3 {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.HappyClients__item_info h5 {
  color: #333333;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  position: relative;
}

.HappyClients__item_info h5::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  right: 295px;
  margin: 10px;
}

.HappyClients__item_info p {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  margin-top: 30px;
}

/* Our Stories */

.OurStories_container {
  height: 450px;
}

.OurStories_header__inner h3 {
  margin-top: 100px;
}

.OurStories_image__inner {
  display: flex;
  gap: 30px;
}

.OurStories__inner {
  gap: 40px;
}

.OurStories__item {
  position: relative;
}

.OurStories__img::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #95e1d3;
  bottom: 20px;
  width: 60px;
  height: 70px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.OurStories__item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 15px;
  height: 20px;
  color: #ffffff;
  font-family: "Roboto - Light Italic";
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

.OurStories__img_1::after {
  content: "15";
}

.OurStories__item:nth-child(1)::after {
  content: "jan";
}

.OurStories__img_2::after {
  content: "14";
}

.OurStories__item:nth-child(2)::after {
  content: "june";
}

.OurStories__img_3::after {
  content: "12";
}

.OurStories__item:nth-child(3)::after {
  content: "july";
}

.OurStories__item_info {
  position: absolute;
  top: 250px;
  left: 10px;
}

.OurStories__item_info::after {
  content: "";
  display: block;
  width: 380px;
  height: 1px;
  background-color: #e5e5e5;
  margin: 20px auto;
}

.OurStories__item_info h3 {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
}

.OurStories__item_info p {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.OurStories_item_statistics {
  width: 20px;
  height: 20px;
  fill: #95e1d3;
}

.div_views {
  display: flex;
  align-items: center;
  position: absolute;
  top: 380px;
  left: 8px;
  gap: 5px;
}

.div_comments {
  display: flex;
  align-items: center;
  position: absolute;
  top: 380px;
  left: 80px;
  gap: 5px;
}

/* Open Map */

.OpenMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background: url("../images/Other/OpenMap_background.png") center no-repeat;
  background-size: cover;
  margin-top: 300px;
  gap: 5px;
}

.map_pin {
  width: 30px;
  height: 30px;
  stroke: #f38181;
}

.OpenMap h6 {
  color: #f38181;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.OpenMap h6::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 30px auto;
}

/* Footer */

/* Footer contact information */

.footer {
  display: grid;
  width: 100%;
  height: 560px;
  grid-template-columns: 450px 350px 300px;
}

.footer::after {
  content: "";
  display: flex;
  margin: 70px 350px;
  width: 1230px;
  height: 1px;
  background-color: #e5e5e5;
}

.footer_contact_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 350px;
  width: 500px;
  height: 350px;
}

.footer_contact_info_caption {
  margin-top: 80px;
  color: #cccccc;
  font-family: Montserrat;
  font-size: 46px;
  font-weight: 700;
  position: relative;
  right: 4px;
}

.footer_contact_info_information {
  width: 462px;
  height: 87px;
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.footer_contact_info_followers {
  margin-top: 50px;
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  font-family: "Montserrat - Regular";
}

.footer_contact_info_followers::after {
  content: "";
  display: block;
  margin: 20px auto;
  width: 480px;
  height: 1px;
  background-color: #e5e5e5;
}

.footer_contact_info_followers strong {
  font-family: "Montserrat - Bold";
  font-size: 18px;
  font-weight: 700;
}

.footer_contact_info_followUs {
  display: flex;
  gap: 20px;
}

.footer_contact_info_followUs svg {
  fill: #95e1d3;
  width: 23px;
  height: 23px;
  margin-top: 18px;
}

.footer_contact_info_followUs p {
  color: #999999;
  font-family: "Roboto - Light Italic";
  font-style: italic;
  font-weight: lighter;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.footer_contact_info_subscribe_input {
  width: 230px;
  height: 40px;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  padding: 0;
  margin-left: 5px;
}

.footer_contact_info_subscribe_input::placeholder {
  color: #cccccc;
  font-family: "Roboto - Light Italic";
  font-style: italic;
  font-weight: lighter;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

.footer_contact_info_subscribe_button {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: none;
  padding: 0;
  margin: 0;
}

/* Footer Blogs */

.footer_blogs {
  display: flex;
  flex-direction: column;
  margin-left: 400px;
}

.footer_blogs_caption {
  margin-top: 80px;
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer_blogs_images {
  display: flex;
  flex-direction: column;
  gap: 30px;
} 

.footer_blogs_image {
  width: 119px;
  height: 79px;
}

.footer_blogs_image_container {
  display: flex;
  gap: 20px;
}

.footer_blogs_articles {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer_blogs_image_caption {
  width: 210px;
  height: 27px;
  color: #333333;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
}

.footer_blogs_image_paragraph {
  color: #999999;
  font-family: "Roboto - Light Italic";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/* Footer Instagram */

.footer_instagram {
  margin-left: 500px;
}

.footer_instagram_images {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
  gap: 2px;
}

.footer_instagram_image {
  width: 90px;
  height: 90px;
}

.footer_instagram_caption {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 30px;
}

.footer_instagram_paragraph {
  width: 96px;
  height: 13px;
  color: #333333;
  font-family: "Roboto - Light Italic";
  font-size: 13px;
  font-style: italic;
  font-weight: lighter;
  line-height: 24px;
  text-align: left;
}

.footer_copyrights {
  margin: 20px auto;
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.footer_author {
  color: #f38181;
}

