@charset "UTF-8";
@media screen and (max-width: 1400px) {
  body {
    overflow-y: scroll;
  }
  .available_surveys {
    margin-left: 10%;
  }
  .panels {
    grid-template-columns: 1fr;
    /* Панели первого столбца */
    /* Статистика */
  }
  .panels .first_panels {
    margin-left: 5%;
  }
  .panels .first_panels .create_survey_panel {
    width: 90%;
    margin-left: 5%;
  }
  .panels .first_panels .available_surveys_panel {
    margin-left: 5%;
    width: 90%;
  }
  .panels .first_panels .available_surveys_panel .available_surveys__header {
    gap: 30%;
  }
  .panels .stats {
    margin-left: 16%;
    margin-right: 5%;
  }
  .panels .stats .stats__caption {
    margin-left: 25%;
    margin-top: 5%;
  }
  .panels .stats .stats_panel {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  .available_surveys {
    margin-left: 0%;
  }
  .panels {
    /* Статистика */
  }
  .panels .first_panels {
    margin-left: 0%;
  }
  .panels .first_panels .create_survey_panel {
    margin-left: 10%;
  }
  .panels .first_panels .available_surveys_panel .available_surveys_panel__pagination_arrows {
    margin-left: 43%;
  }
  .panels .first_panels .available_surveys_pane {
    margin-left: 0%;
  }
  .panels .first_panels .available_surveys_pane .available_surveys__header {
    gap: 20%;
  }
  .panels .stats {
    margin-left: 10%;
  }
  .panels .stats .stats__caption {
    margin-left: 30%;
  }
  .panels .stats .stats_panel {
    width: 80%;
  }
  .create_survey_page .create_survey_page__create_question {
    width: 100%;
    height: 100vh;
  }
  .create_survey_page .create_survey_page__continue {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .panels .first_panels {
    margin-left: 5%;
  }
  .panels .first_panels .available_surveys_panel {
    margin-top: 30%;
  }
  .panels .first_panels .available_surveys_panel .available_surveys__header {
    gap: 0;
  }
  .create_survey_page .create_survey_page__name {
    width: 95%;
  }
  .create_survey_page .create_survey_page__security .create_survey_page__security--anonim {
    font-size: 25px;
  }
  .create_survey_page .create_survey_page__security .create_survey_page__security--upp_security {
    font-size: 20px;
  }
  .create_survey_page .create_survey_page__create_question .create_question__types {
    font-size: 50px;
  }
  .create_survey_page .create_survey_page__create_question .create_questions .create_question_active .create_question__header .create_question__header--name {
    font-size: 18px;
  }
  .create_survey_page .create_survey_page__create_question .create_questions .create_question_active .create_question__header .create_question__header--name .create_question__header--input {
    font-size: 14px;
  }
  .create_survey_page .create_survey_page__create_question .create_questions .create_question_active .create_question__add_answer {
    font-size: 20px;
  }
  .create_survey_page .create_survey_page__create_question .create_questions .create_question_active .create_question__add_answer .create_question__add_answer--icon {
    font-size: 70px;
  }
  .create_survey_page .create_survey_page__create_question .create_questions .create_questions--save {
    width: 80%;
  }
  .create_survey_page .create_survey_page__create_question .create_questions .create_question .create_question--add {
    font-size: 70px;
  }
  header .header__settings {
    margin-right: 5%;
  }
  .panels .first_panels .survey_panel__pagination_arrows,
  .panels .first_panels .available_surveys_panel__pagination_arrows {
    margin-left: 40% !important;
    margin-top: 0%;
    position: relative;
    bottom: 10%;
  }
  .panels .first_panels .create_survey_panel {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    height: 45%;
  }
  .panels .first_panels .create_survey_panel .create_survey__caption {
    padding-bottom: 10%;
    margin-left: 15%;
    margin-top: 5%;
  }
  .panels .first_panels .create_survey_panel .created_surveys {
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    height: 80%;
  }
  .panels .first_panels .create_survey_panel .created_surveys .survey,
  .panels .first_panels .create_survey_panel .created_surveys .create__survey {
    width: 100%;
  }
  .panels .first_panels .available_surveys {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-left: 15%;
  }
  .panels .first_panels .available_surveys_panel {
    margin-left: 2%;
    margin-top: 0;
    margin-bottom: 60%;
  }
  .panels .first_panels .available_surveys_panel .available_surveys__header {
    flex-direction: column;
    margin-left: 12%;
  }
  .panels .first_panels .available_surveys_panel .available_surveys__header .available_surveys__caption {
    margin-bottom: 5%;
    position: relative;
    left: 15%;
  }
  .panels .first_panels .available_surveys_panel .available_surveys__header .available_surveys__search {
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .panels .first_panels .available_surveys_panel .available_surveys_panel__pagination_arrows {
    margin-top: 35%;
  }
  .panels .stats .stats_panel .stats--answers .stats--answers__pie_chart {
    width: 55%;
  }
}/*# sourceMappingURL=adaptive.css.map */