.create_survey_page {

    .create_survey_page__name {
        position: relative;
        top: 50%;
    }

    .create_survey_page__name,
    .create_survey_page__continue {
        opacity: 1;
    }
}