#circle {
  background-color: pink;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
}

#box {
  background-color: pink;
  height: 100px;
  width: 100px;
}

.day {
  background-color: white;
  color: black;
}

.night {
  background-color: black;
  color: white;
}