/* Определение шрифтов */

@font-face {
  font-family: "Coffee Service";
  src: url(/Sites/Delecioussary/assets/fonts/coffeeservice.ttf) format("truetype"),
        url(/Sites/Delecioussary/assets/fonts/coffeeservice.woff) format("woff"),
        url(/Sites/Delecioussary/assets/fonts/coffeeservice.woff2) format("woff2"),
        url(/Sites/Delecioussary/assets/fonts/coffeeservice.otf) format("opentype");
} 

@font-face {
  font-family: Helvetica-bold;
  src: url(/Sites/Delecioussary/assets/fonts/helvetica_bold.ttf) format("truetype"),
        url(Sites/Delecioussary/assets/fonts/helvetica_bold.woff) format("woff"),
        url(/Sites/Delecioussary/assets/fonts/helvetica_bold.woff2) format("woff2"),
        url(/Sites/Delecioussary/assets/fonts/helvetica_bold.otf) format("opentype");
}

@font-face {
  font-family: Helvetica;
  src: url(/Sites/Delecioussary/assets/fonts/helvetica_regular.ttf) format("truetype"),
        url(/Sites/Delecioussary/assets/fonts/helvetica_regular.woff) format("woff"),
        url(/Sites/Delecioussary/assets/fonts/helvetica_regular.woff2) format("woff2"),
        url(/Sites/Delecioussary/assets/fonts/helvetica_regular.otf) format("opentype");
}

@font-face {
  font-family: "Helvetica - Oblique";
  src: url(/Sites/Delecioussary/assets/fonts/ofont.ru_Helvetica.ttf) format("truetype"),
        url(/Sites/Delecioussary/assets/fonts/ofont.ru_Helvetica.woff) format("woff"),
        url(/Sites/Delecioussary/assets/fonts/ofont.ru_Helvetica.woff2) format("woff2"),
        url(/Sites/Delecioussary/assets/fonts/ofont.ru_Helvetica.otf) format("opentype");
}

@font-face {
  font-family: "MyriadPro";
  src: url(/Sites/Delecioussary/assets/fonts/MYRIADPRO-BOLD.ttf) format("truetype"),
        url(/Sites/Delecioussary/assets/fonts/MYRIADPRO-BOLD.woff) format("woff"),
        url(/Sites/Delecioussary/assets/fonts/MYRIADPRO-BOLD.woff2) format("woff2"),
        url(/Sites/Delecioussary/assets/fonts/MYRIADPRO-BOLD.otf) format("opentype");
}

@font-face {
  font-family: "Sansus Webissimo";
  src: url(/Sites/Delecioussary/assets/fonts/Sansus_Webissimo-Regular.ttf) format("truetype"),
        url(/Sites/Delecioussary/assets/fonts/Sansus_Webissimo-Regular.woff) format("woff"),
        url(/Sites/Delecioussary/assets/fonts/Sansus_Webissimo-Regular.woff2) format("woff2"),
        url(/Sites/Delecioussary/assets/fonts/Sansus_Webissimo-Regular.otf) format("opentype");
}

/* Базовые стили. CSS Normalize */

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: 80vh;
  background: url(../images/header_images/header_background.png) center no-repeat;
  background-size: 100vw 80vh;
}

/* Navigation */

.nav {
  display: flex;
  width: 63%;
  background-color: #fdfdfd;
  border-radius: 30px;
  margin-top: 60px;
  align-items: center;
  flex-wrap: wrap;
}

.nav__logo {
  display: inline-block;
  color: #ce8f15;
  font-family: "Coffee Service";
  font-size: 1.3vmax;
  font-weight: 400;
  text-align: left;
  margin-left: 2%;
}

.nav__items {
  width: 55%;
  display: flex;
  justify-content: space-between;
  gap: 2%;
  margin-left: 7%;
  flex-wrap: wrap;
}

.nav__items__item {
  color: #b1885c;
  font-family: "Coffee Service";
  font-size: 0.8vmax;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.nav__item--contact {
  opacity: 0.52;
  color: #b1885c;
  font-family: "Coffee Service";
  font-size: 0.8vmax;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  left: 20%;
}

.nav--tagline {
  opacity: 0.52;
  color: #b1885c;
  font-family: "Coffee Service";
  font-size: 0.8vmax;
  font-weight: 400;
  text-align: left;
  margin-right: 55%;
}

.nav__items__item__focus {
  display: none;
  width: 7%;
  height: 161px;
  background-color: #ffffff;
  opacity: 0.7;
  position: absolute;
  top: 10%;
  justify-content: center;
  align-items: center;
}

.nav__items__item:focus ~ .nav__items__item__focus {
  display: flex;
}

.nav__items__item__focus__container {
  width: 100%;
  height: 128px;
  margin-top: 3%;
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3%;
}

.nav__items__item__focus__item {
  color: #d4a65d;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: 700;
  text-align: left;
}

.donuts {
  color: #ac7d33;
}

/* Header Content */

.header__content {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  gap: 100px;
}

.header__content__adding--left,
.header__content__adding--right {
  display: flex;
  align-items: center;
  width: 3%;
  height: 18%;
}

.header__content__adding--left::after {
  content: "";
  width: 8px;
  height: 113px;
  box-shadow: -5px 0px 10px 1px black;
  margin-left: 4%;
  opacity: 0.3;
}

.header__content__adding--right::before {
  content: "";
  width: 8px;
  height: 113px;
  box-shadow: 5px 0px 10px 1px black;
  margin-left: 4%;
  opacity: 0.3;
}

%header__content__adding__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170%;
  height: 170%;
  background: #b6976f;
  color: #fff;
  font-size: 70%;
}

.header__content__adding__plus--left {
  @extend %header__content__adding__plus;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

.header__content__adding__plus--right {
  @extend %header__content__adding__plus;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
}

.header__content--image {
  width: 100%;
  height: 100%;
}

.header__content__text {
  width: 10%;
  height: 100%;
}

.header__content__text__ingridients {
  width: 65%;
  color: #d4a65d;
  font-family: Helvetica;
  font-size: 1vmax;
  font-weight: 700;
  text-align: left;
}

.header__content__text__caption {
  color: #926a2c;
  font-family: Helvetica;
  font-size: 1vmax;
  font-weight: 700;
  text-align: left;
}

.header__subtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.header__subtext__caption {
  opacity: 0.5;
  color: #765028;
  font-family: "Coffee Service";
  font-size: 1.5vmax;
  font-weight: 400;
  text-align: left;
}

.header__subtext__text {
  color: #c8a37c;
  font-family: "Sansus Webissimo";
  font-size: 1vmax;
  font-weight: 400;
  text-align: center;
}

/* Main content */

.main {
  display: flex;
  max-width: 100%;
  height: 200vh;
  background-color: #fff;
  justify-content: center;
}

.main__container {
  width: 65%;
}

.main__container__todayChoice__captions {
  display: flex;
  margin-top: 60px;
}

.main__container__todayChoice--caption {
  color: #765028;
  font-family: "Sansus Webissimo";
  font-size: 1.5vmax;
  font-weight: 400;
  text-align: left;
}

.main__container__todayChoice--paragraph {
  color: #d7b897;
  font-family: Helvetica;
  font-size: 1vmax;
  font-weight: 400;
  text-align: left;
  padding-top: 0.5%;
  margin-left: 1%;
}

.main__container__todayChoice__items {
  display: flex;
  gap: 5%;
  margin-top: 30px;
  align-items: baseline;
  position: relative;
}

.main__container__todayChoice__item {
  width: 100%;
  height: 100%;
}

.main__container__todayChoice__item--caption,
.main__container__todayChoice__item--description {
  color: #b7926c;
  font-family: "Helvetica - Oblique";
  font-size: 1.1vmax;
  font-weight: 400;
  text-align: center;
}

.main__container__todayChoice__item--description {
  font-size: 1vmax;
}

.main__container__todayChoice__item--image {
  width: 100%;
  height: 100%;
}

.main__container__todayChoice {
  position: relative;
}

.main__container__todayChoice::before {
  content: "";
  display: block;
  width: 60%;
  height: 10px;
  background-color: #ffdca2;
  border-radius: 30px;
  position: absolute;
  top: 114%;
  left: 20%;
}

.main__container__todayChoice__items::before {
  content: "";
  display: block;
  width: 15%;
  height: 10px;
  background-color: #765028;
  opacity: 0.1;
  position: absolute;
  top: 117%;
  left: 43%;
}

.main__container__todayChoice__items::after {
  content: "";
  display: block;
  width: 3%;
  height: 5%;
  background-image: url(../images/main_images/main_separator.png);
  position: absolute;
  top: 117%;
  left: 49%;
}

.main__container--2_cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 150px;
}

/* About Us */

.main__container--2_cols--first_col__AboutUs--caption {
  color: #765028;
  font-family: "Sansus Webissimo";
  font-size: 1vmax;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
}

.main__container--2_cols--first_col__AboutUs--description,
.main__container--2_cols--first_col__AboutUs--end_of_description {
  color: #b7926c;
  font-family: Helvetica;
  font-size: 1vmax;
  text-align: left;
  line-height: 20px
}

.main__container--2_cols--first_col__AboutUs--end_of_description {
  margin-top: 30px;
}

.main__container--2_cols--first_col__AboutUs--continue_reading {
  color: #b7926c;
  font-family: Helvetica;
  font-size: 0.9vmax;
  font-weight: 400;
  text-align: left;
  text-decoration: underline;
  margin-top: 20px;
}

/* Special Offer */

.main__container--2_cols--first_col__SpecialOffer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 80px;
}

.main__container--2_cols--first_col__SpecialOffer--text--caption {
  color: #765028;
  font-family: "Sansus Webissimo";
  font-size: 1.2vmax;
  font-weight: 400;
  text-align: left;
}

.main__container--2_cols--first_col__SpecialOffer--description {
  color: #b7926c;
  font-family: Helvetica;
  font-size: 1vmax;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
  line-height: 20px;
}

.main__container--2_cols--first_col__SpecialOffer--text--oldPrice {
  color: #b7926c;
  font-family: "Sansus Webissimo";
  font-size: 1.2vmax;
  font-weight: 400;
  text-align: left;
  text-decoration: line-through;
  margin-top: 30px;
}

.main__container--2_cols--first_col__SpecialOffer--text--newPrice {
  color: #be4c7d;
  font-family: "Sansus Webissimo";
  font-size: 2vmax;
  font-weight: 400;
  text-align: left;
}

.main__container--2_cols--first_col__SpecialOffer--image {
  margin-left: 50px;
  width: 70%;
  height: 100%;
}

/* Testimonials */

.main__container--2_cols--first_col__testimonials {
  margin-top: 80px;
}

.main__container--2_cols--first_col__testimonials--caption {
  color: #765028;
  font-family: "Sansus Webissimo";
  font-size: 1.2vmax;
  font-weight: 400;
  text-align: left;
}

.main__container--2_cols--first_col__testimonials--text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  gap: 5%;
}

.main__container--2_cols--first_col__testimonials--text__item--quote {
  color: #b7926c;
  font-family: Helvetica;
  font-size: 1vmax;
  font-weight: 400;
  text-align: left;
  line-height: 15px;
}

.main__container--2_cols--first_col__testimonials--text__item--author {
  color: #9b754d;
  font-family: Helvetica;
  font-size: 0.9vmax;
  font-weight: 400;
  text-align: left;
  margin-top: 15px;
}


/* Адаптивная вёрстка */

@media screen and (max-width: 1281px) {

  /* Navigation */

  .nav__item--contact {
    left: 10%;
  }

  .nav__items__item__focus {
    display: none;
    width: 15%;
    height: 161px;
    background-color: #ffffff;
    opacity: 0.7;
    position: absolute;
    top: 10%;
    justify-content: center;
    align-items: center;
  }
  

  /* Header content */
  
  .header__content__text {
    position: relative;
    right: 10%;
  }
  
  .header__content__adding--left {
    position: relative;
    left: 10%;
  }

  .header__content__adding--right {
    position: relative;
    right: 10%;
  }

  .header__content--image {
    width: 80%;
    height: 80%;
  }
}


@media screen and (max-width: 600px) {

  /* Navigation */
  
  .nav,
  .nav__items {
    width: 100%;
    flex-direction: column;
    margin-top: 0;
    border-radius: 0;
    font-size: 2vmax;
  }

  .nav__items {
    padding-left: 43%;
  }

  .nav__item--contact {
    left: 0;
    font-size: 1.5vmax;
  }

  .nav--tagline {
    font-size: 1.5vmax;
    margin-right: -10%;
  }

  .nav__items__item__focus {
    right: 30%;
    top: 0;
  }
  
  .nav__items__item__focus__item {
    font-size: 6.5px;
  }

  /* Header Content */

  .header__content {
    margin-top: 20%;
  }

  .header__content__text {
    position: relative;
    right: 20%;
  }
  
  .header__subtext {
    padding-top: 100px;
  }

  .header__content__adding--right {
    right: 35%;
  }

  .header__content__adding--left {
    left: 30%;
  }

  /* Main Content */

  .main__container__todayChoice__items::before {
    top: 123%;
  }

  .main__container__todayChoice__items::after {
    width: 5%;
    height: 15%;
    top: 122%;
  }

  /* Testimonials */

  .main__container--2_cols--first_col__testimonials--text {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 400px) {
  
  .header__content__adding--right {
    right: 60%;
  }

  .header__content__adding--left {
    left: 55%;
  }

}