.grid-container {
  display: grid;
  /* Имя колонки можно указать в свойстве grid-template-columns в квадратных скобках. */
  grid-template-columns: repeat(6, [col] 55px);
  /* Имя строки можно указать в свойстве grid-template-rows в квадратных скобках. */
  grid-template-rows: repeat(3, [row] 55px);
  /* Свойство grid-gap указывает одинаковое расстояние между строками и колонками. */
  grid-gap: 10px;
  background-color: rgb(86, 86, 238);
}

.grid-item {
  min-height: 80px;
  border: 3px solid black
}

.item-1 {
  grid-column: col 1 / col 3;
}

.item-2 {
  grid-column: col 3 / col 5;
  grid-row: row 1 / row 3;
}

.item-3 {
  grid-column: col 5 / col 6;
  grid-row: row 1 / row 3;
}

.item-4 {
  grid-column: col 6;
}

.item-5 {
  grid-column: col 1 / col 2;
}

.item-6 {
  grid-column: col 2 / col 3;
}

.item-7 {
  grid-column: col 6;
}

.item-8 {
  grid-column: col 1 / col 2;
}

.item-9 {
  grid-column: col 2 / col 4;
}

.item-10 {
  grid-column: col 4 / col 6;
}

.item-11 {
  grid-column: col 6;
}
