#without-ntroducing {
  background-image: url("https://gas-kvas.com/uploads/posts/2023-02/1675495554_gas-kvas-com-p-luchshie-kartinki-dlya-fonovogo-risunka-ra-4.jpg");
  background-size: 380px 250px;
  background-repeat: no-repeat;
  display: inline-block;
}

#bg {
  background-color: #95e1d3;
  width: 385px;
  height: 130px;
}

#amultiple {
  background-color: #000000;
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  opacity: 0.9;
  width: 380px;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
}

#amultiple h2,
#amultiple h5,
#amultiple h5 a {
  text-align: center;
  color: #f9f8f8;
  font-weight: normal;
  text-shadow: 0 1px 0 #3e3737;
}

#amultiple h2 {
  margin-bottom: 48px;
  font-size: 28px;
}
#amultiple h5 {
  margin-top: 70px;
  font-size: 17px;
}
