body {
  display: inline-block;
}

.container {
  /* container-type используется для определения типа содержимого, используемого в запросе к контейнеру.
  */
  container-type: normal;
  width: 500px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@container (max-width: 400px) {
  .card {
    grid-template-columns: 1fr;
  }
}