/* Наследование */
%create_question__answer_type--checkbox {
  position: absolute;
  z-index: 1;
  opacity: 0;
  right: -7%;
  width: 8%;
  height: 70%;
  cursor: pointer;

  &+label {
    display: inline-flex;
    user-select: none;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      border: 1px solid black;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 200% 200%;
      cursor: pointer;
    }
  }

  &:checked+label::after {
    content: url("../../../icons/check.svg");
    position: absolute;
    left: -15%;
    cursor: pointer;
    bottom: -35%;
  }
}

%create_question__menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  margin-top: 5%;
  margin-left: 10%;
}

/* Панели */
.panels {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  margin-top: 2%;
  height: 870px;

  .first_panels {
    width: 100%;
    height: 100%;

    /* Панель создания опроса */
    .create_survey_panel {
      width: 100%;
      height: 250px;
      margin-left: 10%;

      .create_survey__caption {
        font-size: 28px;
        padding-bottom: 5%;
      }

      .created_surveys {
        width: 100%;
        height: 100%;

        .create__survey {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40%;
          height: 200px;
          background-color: #D9D9D9;
          border-radius: 16px;
          cursor: pointer;

          i {
            cursor: pointer;
            color: #939393;
            font-size: 70px;
          }
        }
      }

      .survey_panel__pagination_arrows {
        display: flex;
        margin-left: 40%;
        gap: 10%;

        .survey_panel__pagination__arrow {
          width: 25px;
          height: 25px;
          border: 1px solid #1C274C;
          border-radius: 50%;
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }

    /* Панель доступных опросов */
    .available_surveys_panel {
      margin-top: 15%;
      margin-left: 10%;
      width: 100%;
      height: 250px;

      .available_surveys__header {
        display: flex;
        gap: 20%;

        .available_surveys__caption {
          font-size: 28px;
        }

        .available_surveys__search {
          width: 35%;
          height: 45px;
          display: flex;
          align-items: center;
          background-color: #fff;

          input {
            border: none;
            width: 100%;
            height: 100%;
            outline: none;

            &::placeholder {
              color: #000;
              font-size: 14px;
              padding: 3%;
            }
          }

          i {
            cursor: pointer;
            padding-right: 5%;
          }
        }
      }

      .available_surveys {
        width: 100%;
        height: 400px;
      }

      .available_surveys_panel__pagination_arrows {
        display: flex;
        margin-left: 40%;
        gap: 10%;

        .available_surveys_panel__pagination__arrow {
          width: 25px;
          height: 25px;
          border: 1px solid #1C274C;
          border-radius: 50%;
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }
  }

  /* Статистика */
  .stats {
    height: 870px;

    .stats__caption {
      display: inline-block;
      font-size: 28px;
      padding-bottom: 5%;
    }

    .stats_panel {
      height: 750px;
      width: 80%;
      border-radius: 24px;
      background-color: #FFF;
      box-shadow: 0px 0px 12px 4px rgba(193, 193, 193, 0.25);
      padding: 3%;

      .stats_panel--caption {
        font-size: 28px;
        text-align: center;
        font-weight: 600;
      }

      .stats--answers {
        display: flex;
        width: 100%;
        height: 200px;
        margin-top: 5%;
        gap: 10%;
        padding-left: 5%;

        .stats--answers__pie_chart {
          height: 190px;
          width: 30%;
          border-radius: 50%;
          background-color: #F6F6F6;
        }

        .stats--answers__answers {
          width: 15%;
          height: 120px;
          align-self: center;
        }
      }

      /* Количество участников */
      .stats_panel--participants_amount {
        font-size: 20px;
        font-weight: 500;
        padding: 5%;
      }

      /* Активность */
      .stats--activity__caption {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        padding-top: 5%;
      }
    }
  }
}

/* Страница с созданием имени опроса */
.create_survey_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;

  .create_survey_page--types {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Страница с выбором имени для опроса */
  .create_survey_page--type {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1%;
    opacity: 0;
    transform: translateY(0%);
    transition: .3s all linear;

    .create_survey_page_name__input {
      width: 90%;
      height: 50%;
      padding: 14px 20px;
      border-radius: 12px;
      background: #FFF;
      border: none;
      box-shadow: 0px 0px 12px 4px rgba(193, 193, 193, 0.25);

      &::placeholder {
        color: #313131;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
      }
    }
  }

  .create_survey_page__name {
    width: 60%;
  }

  .create_survey_page_name__edit {
    width: 60px;
    height: 60px;
    background: #E1E1E1;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;

    i {
      font-size: 20px;
      cursor: pointer;
    }
  }

  .create_survey_page__continue {
    width: 15%;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    background: #0085FF;
    padding: 20px 36px;
    cursor: pointer;
    opacity: 0;
    transition: .3s all linear;
  }

  /* Страница с выбором типа безопасности опроса */
  .create_survey_page__security {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-20%);
    margin-top: 10%;

    .create_survey_page__security--anonim,
    .create_survey_page__security--upp_security {
      display: flex;
      align-items: center;
      font-size: 50px;
      gap: 5%;
      white-space: nowrap;

      .create_survey_page--anonim__icon,
      .create_survey_page--upp_security__icon {
        color: #0084FF;
        font-size: 70px;
      }

      .create_survey_page--anonim__checkbox,
      .create_survey_page--upp_security__checkbox {
        width: 100px;
        height: 50px;
      }
    }

    .create_survey_page__security--upp_security {
      font-size: 40.5px;
    }
  }

  /* Страница создания вопросов для опроса */
  .create_survey_page__create_question {
    opacity: 0;
    transform: translateY(-20%);
    transition: .3s all linear;
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -20%;

    .create_question__types {
      display: flex;
      font-size: 100px;
      color: gray;
      align-self: flex-end;
      gap: 20%;
      margin-right: 12%;
      margin-bottom: 3%;

      .create_question__type--active {
        color: #0084FF;
      }

    }

    .create_questions {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5%;

      .create_question_active {
        display: grid;
        min-height: 320px;
        width: 80%;
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 0px 12px 4px rgba(193, 193, 193, 0.25);

        .create_question__header {
          display: flex;
          flex-direction: column;
          width: 30%;

          .create_question__header--desc {
            display: flex;
            padding-left: 10%;
            font-size: 20px;
            color: gray;
            gap: 10%;

            .create_question__header--input {
              font-size: 15px;
              color: gray;
            }
          }

          .create_question__header--name {
            display: flex;
            padding: 10%;
            padding-bottom: 5%;
            font-size: 25px;
          }

          .create_question__header--input {
            border: none;
            font-size: 20px;
          }
        }

        .create_question__header--add_desc {
          color: #0084FF;
          font-size: 30px;
          align-self: center;
          cursor: pointer;
        }

        .create_question__add_answer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          height: 30%;
          font-size: 25px;
          padding-bottom: 5%;
          align-self: end;

          .create_question__add_answer--icon {
            font-size: 100px;
            color: #0084FF;
            cursor: pointer;
          }
        }

        .create_question__answer_types {
          display: flex;
          align-items: center;
          justify-content: baseline;
          flex-direction: column;
          padding-bottom: 3%;
          margin-top: 5%;

          .create_question__answer_type {
            display: flex;
            flex-direction: column;
            margin-bottom: 1%;
            gap: 3%;
            font-size: 25px;

            .create_question--preset_answer__interface,
            .create_question--open_answer__interface {
              display: flex;
              gap: 3%;
            }

            .create_question__answer_type--caption {
              white-space: nowrap;
            }

            .create_question__answer_type--icon {
              color: #0084FF;
            }

            .create_question__answer_type--checkbox {
              @extend %create_question__answer_type--checkbox;
            }

            .create_question__answer_type--radio {
              width: 55px;
              cursor: pointer;
              border: 1px solid black;
            }
          }
        }
      }

      .create_question {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 220px;
        width: 80%;
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 0px 12px 4px rgba(193, 193, 193, 0.25);

        .create_question--add {
          font-size: 100px;
          color: #939393;
          cursor: pointer;
        }
      }

      .create_questions--save {
        border-radius: 12px;
        background: #0085FF;
        height: 60px;
        width: 15%;
        color: #fff;
        font-size: 14px;
        margin-top: 3%;
        cursor: pointer;
      }
    }

    .create_question--preset_answer__menu {
      @extend %create_question__menu;

      .create_question--preset_answer__text {
        display: flex;
        margin-bottom: 5%;
        gap: 3%;

        .create_question__header--input {
          border: none;
        }

        .create_question__header--edit {
          color: gray;
          font-size: 20px;
        }
      }

      .create_question--preset_answer__correct_answer {
        display: flex;
        font-size: 18px;
        gap: 5%;

        .create_question__preset_answer--checkbox {
          @extend %create_question__answer_type--checkbox;
          right: 30%;

          &+label {
            &::before {
              width: 1.3em;
              height: 1.2em;
            }
          }

          &:checked+label::after {
            bottom: -50%;
          }
        }
      }
    }

    .create_question__header--edit {
      cursor: pointer;
    }

    .create_question--open_answer__menu {
      @extend %create_question__menu;
      margin-top: 3%;
      margin-left: 5%;

      .create_question__open_answer--input {
        width: 90%;
      }

      .create_question--open_answer__correct_answer {
        display: flex;
        align-items: flex-end;
        gap: 5%;
        margin-top: 3%;

        .create_question__open_answer--checkbox {
          @extend %create_question__answer_type--checkbox;
          right: 15%;
        }

        .create_question__open_answer--label {
          margin-top: 5%;
        }
      }
    }
  }
}