@charset "UTF-8";
/* Панели */
.panels {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  margin-top: 2%;
  height: 870px;
  /* Статистика */
}
.panels .first_panels {
  width: 100%;
  height: 100%;
  /* Панель создания опроса */
  /* Панель доступных опросов */
}
.panels .first_panels .create_survey_panel {
  width: 100%;
  height: 250px;
  margin-left: 10%;
}
.panels .first_panels .create_survey_panel .create_survey__caption {
  font-size: 28px;
  padding-bottom: 5%;
}
.panels .first_panels .create_survey_panel .created_surveys {
  width: 100%;
  height: 100%;
}
.panels .first_panels .create_survey_panel .created_surveys .create__survey {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 200px;
  background-color: #D9D9D9;
  border-radius: 16px;
  cursor: pointer;
}
.panels .first_panels .create_survey_panel .created_surveys .create__survey i {
  cursor: pointer;
  color: #939393;
  font-size: 70px;
}
.panels .first_panels .create_survey_panel .survey_panel__pagination_arrows {
  display: flex;
  margin-left: 40%;
  gap: 10%;
}
.panels .first_panels .create_survey_panel .survey_panel__pagination_arrows .survey_panel__pagination__arrow {
  width: 25px;
  height: 25px;
  border: 1px solid #1C274C;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.panels .first_panels .available_surveys_panel {
  margin-top: 15%;
  margin-left: 10%;
  width: 100%;
  height: 250px;
}
.panels .first_panels .available_surveys_panel .available_surveys__header {
  display: flex;
  gap: 20%;
}
.panels .first_panels .available_surveys_panel .available_surveys__header .available_surveys__caption {
  font-size: 28px;
}
.panels .first_panels .available_surveys_panel .available_surveys__header .available_surveys__search {
  width: 35%;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.panels .first_panels .available_surveys_panel .available_surveys__header .available_surveys__search input {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
}
.panels .first_panels .available_surveys_panel .available_surveys__header .available_surveys__search input::-moz-placeholder {
  color: #000;
  font-size: 14px;
  padding: 3%;
}
.panels .first_panels .available_surveys_panel .available_surveys__header .available_surveys__search input::placeholder {
  color: #000;
  font-size: 14px;
  padding: 3%;
}
.panels .first_panels .available_surveys_panel .available_surveys__header .available_surveys__search i {
  cursor: pointer;
  padding-right: 5%;
}
.panels .first_panels .available_surveys_panel .available_surveys {
  width: 100%;
  height: 400px;
}
.panels .first_panels .available_surveys_panel .available_surveys_panel__pagination_arrows {
  display: flex;
  margin-left: 40%;
  gap: 10%;
}
.panels .first_panels .available_surveys_panel .available_surveys_panel__pagination_arrows .available_surveys_panel__pagination__arrow {
  width: 25px;
  height: 25px;
  border: 1px solid #1C274C;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.panels .stats {
  height: 870px;
}
.panels .stats .stats__caption {
  display: inline-block;
  font-size: 28px;
  padding-bottom: 5%;
}
.panels .stats .stats_panel {
  height: 750px;
  width: 80%;
  border-radius: 24px;
  background-color: #FFF;
  box-shadow: 0px 0px 12px 4px rgba(193, 193, 193, 0.25);
  padding: 3%;
  /* Количество участников */
  /* Активность */
}
.panels .stats .stats_panel .stats_panel--caption {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
}
.panels .stats .stats_panel .stats--answers {
  display: flex;
  width: 100%;
  height: 200px;
  margin-top: 5%;
  gap: 10%;
  padding-left: 5%;
}
.panels .stats .stats_panel .stats--answers .stats--answers__pie_chart {
  height: 190px;
  width: 30%;
  border-radius: 50%;
  background-color: #F6F6F6;
}
.panels .stats .stats_panel .stats--answers .stats--answers__answers {
  width: 15%;
  height: 120px;
  align-self: center;
}
.panels .stats .stats_panel .stats_panel--participants_amount {
  font-size: 20px;
  font-weight: 500;
  padding: 5%;
}
.panels .stats .stats_panel .stats--activity__caption {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-top: 5%;
}

/* Страница с созданием имени опроса */
.create_survey_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  /* Страница с выбором имени для опроса */
  /* Страница с выбором типа безопасности опроса */
}
.create_survey_page .create_survey_page--types {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create_survey_page .create_survey_page--type {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1%;
  opacity: 0;
  transform: translateY(0%);
  transition: 0.3s all linear;
}
.create_survey_page .create_survey_page--type .create_survey_page_name__input {
  width: 90%;
  height: 15%;
  padding: 14px 20px;
  border-radius: 12px;
  background: #FFF;
  border: none;
  box-shadow: 0px 0px 12px 4px rgba(193, 193, 193, 0.25);
}
.create_survey_page .create_survey_page--type .create_survey_page_name__input::-moz-placeholder {
  color: #313131;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.create_survey_page .create_survey_page--type .create_survey_page_name__input::placeholder {
  color: #313131;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.create_survey_page .create_survey_page__name {
  width: 60%;
}
.create_survey_page .create_survey_page_name__edit {
  width: 60px;
  height: 60px;
  background: #E1E1E1;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}
.create_survey_page .create_survey_page_name__edit i {
  font-size: 20px;
}
.create_survey_page .create_survey_page__continue {
  width: 15%;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  border-radius: 12px;
  background: #0085FF;
  padding: 20px 36px;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s all linear;
}
.create_survey_page .create_survey_page__security {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-20%);
}
.create_survey_page .create_survey_page__security .create_survey_page__security--anonim,
.create_survey_page .create_survey_page__security .create_survey_page__security--upp_security {
  display: flex;
  align-items: center;
  font-size: 50px;
  gap: 5%;
  white-space: nowrap;
}
.create_survey_page .create_survey_page__security .create_survey_page__security--anonim .create_survey_page--anonim__icon,
.create_survey_page .create_survey_page__security .create_survey_page__security--anonim .create_survey_page--upp_security__icon,
.create_survey_page .create_survey_page__security .create_survey_page__security--upp_security .create_survey_page--anonim__icon,
.create_survey_page .create_survey_page__security .create_survey_page__security--upp_security .create_survey_page--upp_security__icon {
  color: #0084FF;
  font-size: 70px;
}
.create_survey_page .create_survey_page__security .create_survey_page__security--anonim .create_survey_page--anonim__checkbox,
.create_survey_page .create_survey_page__security .create_survey_page__security--anonim .create_survey_page--upp_security__checkbox,
.create_survey_page .create_survey_page__security .create_survey_page__security--upp_security .create_survey_page--anonim__checkbox,
.create_survey_page .create_survey_page__security .create_survey_page__security--upp_security .create_survey_page--upp_security__checkbox {
  width: 100px;
  height: 50px;
}
.create_survey_page .create_survey_page__security .create_survey_page__security--upp_security {
  font-size: 40.5px;
}/*# sourceMappingURL=body.css.map */