<!-- Раньше тут был дефолтный статический компонент HTML.
Но Angular предназначен именно для создания динамических элементов, а не статических. 
Поэтому, в двойных фигурных скобках, мы можем указать различные свойства, перечисленные в классе в app.component.ts 
и мы указываем title, т.е динамически создаём элемент. -->
<h2>Welcome to {{title}}</h2>
<!-- Используем наш компонент хедера? который находиться в header.component.ts и объявлён в app.module.ts, применяя его селектор. -->
<app-header></app-header>