@charset "UTF-8";
/* CSS Normalize*/
body {
  margin: 0;
  padding: 0;
  min-height: 4000px;
  background-image: url(../images/header_background.png);
  background-size: cover;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  border: none;
}

/* Navigation */
.to-talk {
  display: inline-flex;
  align-items: baseline;
  justify-content: baseline;
  position: relative;
  left: 80%;
  margin-top: 1%;
  font-size: 20px;
}

.to-talk__circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  border: 1px solid #fff;
}
.to-talk__circle a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
.header--info {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.header--info--caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  font-weight: 500;
}

.header--info--desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  color: #D1D5DB;
}

.header--info--circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 150px darkviolet;
  margin-top: 3%;
}
.header--info--circle a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Мои работы */
.work {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 10%;
  padding: 5%;
}

.work__header {
  display: grid;
  justify-content: end;
  align-items: end;
  grid-template-columns: 68% 32%;
}
.work__header .work__header--text {
  width: 70%;
}
.work__header h3 {
  font-size: 35px;
  margin-bottom: 3%;
}
.work__header p {
  font-weight: 100;
}

.work__skills {
  display: flex;
  gap: 5%;
}
.work__skills .skill {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  gap: 5%;
}
.work__skills .skill p {
  min-width: 100%;
}
.work__skills .skill i {
  font-size: 25px;
}
.work__skills .skill:nth-child(1) i {
  color: #3B82F6;
}
.work__skills .skill:nth-child(2) i {
  color: #EAB308;
}
.work__skills .skill:nth-child(3) i {
  color: #06B6D4;
}

.work__my-works {
  display: flex;
  gap: 3%;
}

.my-works__work {
  width: 30%;
  height: 500px;
  margin-top: 3%;
}
.my-works__work .my-works__work--image {
  width: 100%;
  height: auto;
  border-radius: 3%;
}
.my-works__work .my-works__work--desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-works__work .my-works__work--desc h3 {
  font-size: 25px;
}
.my-works__work .my-works__work--desc p {
  font-size: 20px;
}
.my-works__work .my-works__work--desc .work--desc--circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 20px;
  cursor: pointer;
}

.work--more {
  width: 200px;
  height: 50px;
  justify-self: center;
  align-self: center;
  background: #6C4BEF;
  border-radius: 12px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 750px) {
  /* Navigation */
  .to-talk {
    margin-top: 5%;
  }
  /* Header */
  .header--info {
    margin-top: 10%;
  }
  .header--info--caption {
    font-size: 30px;
    margin-bottom: 3%;
  }
  .header--info--desc {
    font-size: 15px;
  }
  /* Мои работы */
  .work {
    padding: 10%;
  }
  .work .work__header {
    grid-template-columns: 1fr;
  }
  .work .work__header .work__skills {
    margin-top: 3%;
    gap: 10%;
  }
  .work .work__header .work__header--text {
    width: 100%;
    text-align: center;
  }
  .work .work__my-works {
    flex-direction: column;
  }
  .work .work__my-works .my-works__work {
    width: 100%;
    height: 400px;
  }
}/*# sourceMappingURL=style.css.map */