
/* Цвета */

:root {
  --color1: #eebb12;
}

.color1 {
  color: var(--color1)
}

/* Header */

header {
  height: 75vh;
  background: url(../images/header_background.png), #111;
}

.header_btn {
  width: 200px;
  height: 50px;
  font-weight: 500;
}

/* Author */

.author {
  background-color: #070707;
}