/* Добавление шрифтов */
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* CSS Normalize*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-height: 1600px;
  background-image: url(../images/background.png);
  background-size: cover;
  font-family: 'Gilroy';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  border: none;
}

/* Navigation */
header {
  max-width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

nav {
  display: flex;
  align-items: baseline;
  gap: 5%;
  color: #fff;
  stroke: #000;
  margin-top: 3%;
  max-width: 100%;

  .logo {
    display: flex;
    align-items: baseline;
    font-size: 25px;
    text-transform: uppercase;

    img {
      width: 40px;
      height: 35px;
    }
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 80%;

    a::after {
      content: '';
      display: block;
      width: 0%;
      height: 4px;
      background-color: #14D4E0;
      border-radius: 20px;
      box-shadow: 1px 1px 15px #14D4E0;
      transition: all .2s linear;
    }

    a:hover::after {
      width: 100%;
    }
  }

  .icons {
    display: flex;
    gap: 20%;
    font-size: 30px;

    i {
      cursor: pointer;
      transition: all .2s linear;

      &:hover {
        text-shadow: 1px 1px 30px #14D4E0;
        color: #14D4E0;
      }
    }
  }

  .navicon {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 10%;
  }

  .navicon__container {
    display: inline;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 70%;
    margin-top: 30%;
    background: linear-gradient(to right, rgb(85, 3, 120), black);
    opacity: 0;
    transition: all .2s all;
    position: absolute;
    top: 130%;
    left: -800%;
    width: 2100%;

    a {
      font-size: 20px;
      margin-left: 15%;

      &::after {
        content: '';
        display: block;
        width: 0%;
        height: 4px;
        background-color: #14D4E0;
        border-radius: 20px;
        box-shadow: 1px 1px 15px #14D4E0;
        transition: all .2s linear;
        margin: 0 auto;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

/* Main */
main {
  display: grid;
  grid-template-columns: 28% 45% 27%;
  max-width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 5%;
}

/* Photos */
.photos {
  display: flex;
  flex-wrap: wrap;
  width: 110%;
  height: 330px;
  gap: 5%;

  .photos__mini {
    display: flex;
    width: 100%;
    height: 70px;
    gap: 2%;

    img {
      cursor: pointer;
      width: 20%;
    }

    .images__more {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      font-weight: 700;
      width: 20%;
      border-radius: 5px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.72) 100%);
      color: #fff;
      cursor: pointer;
    }
  }

  .photos__main_photo {
    width: 65%;
    height: 250px;
    position: relative;
    cursor: pointer;

    img {
      width: 100%;
      height: 250px;
    }

    i {
      display: block;
      color: #fff;
      width: 10%;
      height: 10%;
      position: absolute;
      font-size: 30px;
      top: 5%;
      right: 5%;
      cursor: pointer;
      transition: all .2s linear;

      &:hover {
        text-shadow: 1px 1px 30px #14D4E0;
        color: #14D4E0;
      }
    }

    &::after {
      content: '21%';
      display: flex;
      color: #fff;
      justify-content: center;
      align-items: center;
      font-size: 46px;
      font-weight: 600;
      width: 100%;
      height: 50%;
      border-radius: 0px 0px 10px 10px;
      background: linear-gradient(180deg, rgba(0, 240, 255, 0.00) 0%, rgba(0, 240, 255, 0.70) 43.23%);
      position: absolute;
      bottom: 0;
    }
  }
}

/* Special Offers */
.special_offers {
  display: flex;
  width: 100%;
  margin-top: 15%;
  color: #fff;
  align-items: center;
  font-size: 30px;
  gap: 5%;

  i {
    display: block;
    color: #fff;
    width: 10%;
    height: 10%;
    font-size: 30px;
    cursor: pointer;
    transition: all .2s linear;

    &:hover {
      text-shadow: 1px 1px 30px #14D4E0;
      color: #14D4E0;
    }
  }


  .special_offers__container {
    width: 65%;
  }

  .special_offer {
    height: 350px;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.20);
  }

  h2 {
    width: 50%;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5%;
    text-shadow: 1px 1px 5px #fff;
    margin-left: 25%;
  }

  img {
    width: 100%;
  }

  .special_offer__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 5%;

    p:not(.special_offer--price) {
      width: 80%;
      color: #FFF;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      text-shadow: 1px 1px 5px #fff;
    }

    .special_offer--price {
      color: #00F0FF;
      font-size: 25px;
    }

    button {
      display: flex;
      width: 100%;
      height: 40px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
      color: #FFF;
      font-size: 15px;
      cursor: pointer;
      font-weight: 600;
    }
  }
}

/* User post */
.post__user_info {
  display: flex;
  color: #fff;
  gap: 10%;

  .user_bio {
    display: flex;
    align-items: center;
    gap: 5%;

    h3 {
      font-size: 25px;
      font-weight: 600;
      text-shadow: 1px 1px 5px #fff;
    }
  }

  .user_socials {
    display: flex;
    align-items: center;
    gap: 20%;
    font-size: 35px;

    i {
      transition: all .2s linear;

      &:hover {
        text-shadow: 1px 1px 30px #14D4E0;
        color: #14D4E0;
      }
    }
  }
}

.post__tags {
  display: flex;
  color: #fff;
  margin-top: 5%;
  gap: 5%;
  font-size: 15px;
  font-weight: 500;
}

.post__text {
  margin-top: 3%;
  color: #fff;

  h2 {
    font-size: 35px;
    font-weight: 600;
    text-shadow: 1px 1px 5px #fff;
  }

  .post__desc {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 3%;
    height: 100px;

    p {
      font-size: 16px;
    }

    .desc__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-left: 3px solid #00F0FF;
      padding-left: 10%;

      p {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        :only-child {
          color: #00F0FF;
        }
      }
    }
  }
}

.post__other-information {
  width: 100%;
  display: flex;
  color: #FFF;
  font-size: 16px;
  margin-top: 10%;
  position: relative;

  .active {
    text-shadow: 1px 1px 5px #fff;
    border-bottom: 1px solid #00F0FF;
  }

  h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 3%;
    width: 100%;
    cursor: pointer;
    transition: all .2s linear;
  }
}


/* Responsive Design */
@media (max-width: 1600px) {

  /* Header */
  header {
    padding-left: 5%;
  }

}

@media (max-width: 1400px) {

  /* Navigation */
  nav {
    gap: 0;
    justify-content: space-between;

    .navigation {
      display: none;
    }

    .navicon {
      display: flex;
      position: relative;

      .open {
        opacity: 1;
      }
    }
  }

  /* Main */
  main {
    grid-template-columns: 30% 30% 30%;
  }
}

@media (max-width: 1000px) {

  /* Navigation */
  nav {
    .logo {
      font-size: 15px;
    }

    .icons {
      gap: 30%;
    }
  }

  /* Main */
  main {
    margin-top: 35%;
    grid-template-columns: 50% 50% 50%;
  }
}

@media (max-width: 600px) {
  main {
    margin-top: 50%;
    padding: 5%;
    grid-template-columns: 1fr;

    .first_col {
      display: flex;
      align-items: center;
      justify-content: center;

      .special_offers {
        margin: 0;
        justify-content: center;
        width: 50%;
        margin-bottom: 9%;

        h2 {
          margin-left: 7%;
        }
      }

      .photos {
        width: 50%;

        .photos__main_photo {
          width: 100%;
        }

        .photos__mini {
          width: 100%;

          img,
          .images__more {
            width: 40%;
          }
        }
      }

    }
  }
}