@charset "UTF-8";
/* Добавление шрифтов */
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("Gilroy-Regular.woff2") format("woff2"), url("Gilroy-Regular.woff") format("woff"), url("Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* CSS Normalize*/
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-height: 1600px;
  background-image: url(../images/background.png);
  background-size: cover;
  font-family: "Gilroy";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  border: none;
}

/* Navigation */
header {
  max-width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

nav {
  display: flex;
  align-items: baseline;
  gap: 5%;
  color: #fff;
  stroke: #000;
  margin-top: 3%;
  max-width: 100%;
}
nav .logo {
  display: flex;
  align-items: baseline;
  font-size: 25px;
  text-transform: uppercase;
}
nav .logo img {
  width: 40px;
  height: 35px;
}
nav .navigation {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  width: 80%;
}
nav .navigation a::after {
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  background-color: #14D4E0;
  border-radius: 20px;
  box-shadow: 1px 1px 15px #14D4E0;
  transition: all 0.2s linear;
}
nav .navigation a:hover::after {
  width: 100%;
}
nav .icons {
  display: flex;
  gap: 20%;
  font-size: 30px;
}
nav .icons i {
  cursor: pointer;
  transition: all 0.2s linear;
}
nav .icons i:hover {
  text-shadow: 1px 1px 30px #14D4E0;
  color: #14D4E0;
}
nav .navicon {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 10%;
}
nav .navicon__container {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 800%;
  height: 100%;
  padding: 70%;
  margin-top: 30%;
  background: linear-gradient(to right, rgb(85, 3, 120), black);
}
nav .navicon__container a {
  margin-left: 15%;
}

/* Main */
main {
  display: grid;
  grid-template-columns: repeat(3, 29%);
  max-width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}
main .container {
  margin-top: 30%;
}

/* Photos */
.photos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 330px;
  gap: 5%;
}
.photos .photos__mini {
  display: flex;
  width: 100%;
  height: 70px;
  gap: 2%;
}
.photos .photos__mini img {
  cursor: pointer;
  width: 20%;
}
.photos .photos__mini .images__more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  width: 20%;
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.72) 100%);
  color: #fff;
  cursor: pointer;
}
.photos .images__main_image {
  width: 65%;
  height: 250px;
  position: relative;
  cursor: pointer;
}
.photos .images__main_image img {
  width: 100%;
  height: 250px;
}
.photos .images__main_image i {
  display: block;
  color: #fff;
  width: 10%;
  height: 10%;
  position: absolute;
  font-size: 30px;
  top: 5%;
  right: 5%;
  cursor: pointer;
  transition: all 0.2s linear;
}
.photos .images__main_image i:hover {
  text-shadow: 1px 1px 30px #14D4E0;
  color: #14D4E0;
}
.photos .images__main_image::after {
  content: "21%";
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  font-weight: 600;
  width: 100%;
  height: 50%;
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(180deg, rgba(0, 240, 255, 0) 0%, rgba(0, 240, 255, 0.7) 43.23%);
  position: absolute;
  bottom: 0;
}

/* Responsive Design */
@media (max-width: 1600px) {
  /* Header */
  header {
    padding-left: 5%;
  }
  /* Main */
  /* Photos */
}
@media (max-width: 1400px) {
  /* Navigation */
  nav {
    gap: 0;
    justify-content: space-between;
  }
  nav .navigation {
    display: none;
  }
  nav .navicon {
    display: flex;
  }
  nav .navicon:focus .navicon__container {
    display: flex;
  }
  /* Main */
  /* Photos */
}
@media (max-width: 400px) {
  /* Navigation */
  nav .logo {
    font-size: 15px;
  }
  nav .icons {
    gap: 15%;
    font-size: 20px;
  }
  /* Main */
  /* Photos */
}/*# sourceMappingURL=style.css.map */