.budget {
    height: 80px;
    background-color: #dddee1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    font-weight: 700;
    border-radius: 10px;
    position: relative;

    .edit {
        width: 15%;
        position: absolute;
        left: 27%;
    }
}