@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.caption {
  color: white;
  font-size: 30px;
  margin-bottom: 100px;
  position: relative;
  top: 5%;
}

/* ОРИГИНАЛЬНЫЙ HOVER-ЭФФЕКТ КНОПКИ. https://www.youtube.com/watch?v=qYkqQCohfAc&list=PLNkWIWHIRwMEosiVP_3B-h4fE7CIfZ7pI */
.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #3c0453, #2f0000);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper button {
  text-transform: uppercase;
  text-shadow: 0 0 15px #000;
  letter-spacing: 15px;
  font-size: 100px;
  color: #07e8ff;
  padding: 5% 10%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.8);
  position: relative;
  overflow: hidden;
  /* Затемнённая половина кнопки. */
}
.wrapper button:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.05);
}
.wrapper button span {
  /* Верхняя линия */
  /* Правая линия */
  /* Нижняя линия */
  /* Левая линия */
}
.wrapper button span:nth-child(1), .wrapper button span:nth-child(2), .wrapper button span:nth-child(3), .wrapper button span:nth-child(4) {
  position: absolute;
  opacity: 0;
  transition: all 0.3s linear;
}
.wrapper button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #2f0000, #07e8ff, #2f0000);
  animation: animateTop 2s linear infinite;
}
.wrapper button span:nth-child(2) {
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(0, #2f0000, #07e8ff, #2f0000);
  animation: animateRight 2s linear infinite;
}
.wrapper button span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #2f0000, #07e8ff, #2f0000);
  animation: animateBottom 2s linear infinite;
}
.wrapper button span:nth-child(4) {
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(0, #2f0000, #07e8ff, #2f0000);
  animation: animateLeft 2s linear infinite;
}
.wrapper button:hover span:nth-child(1), .wrapper button:hover span:nth-child(2), .wrapper button:hover span:nth-child(3), .wrapper button:hover span:nth-child(4) {
  opacity: 1;
}

@keyframes animateTop {
  0% {
    /* translate () Сдвигает элемент на заданное значение по горизонтали и вертикали в плоскости экрана. */
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animateRight {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animateBottom {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animateLeft {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
/* АНИМАЦИЯ 3D ПЕРЕВОРОТА КАРТОЧКИ. https://www.youtube.com/watch?v=l7UbiJwE9mc&list=PLNkWIWHIRwMEosiVP_3B-h4fE7CIfZ7pI&index=2 */
.wrapper2 {
  background: linear-gradient(10deg, rgb(85, 8, 85), black);
  height: 100vh;
  text-align: center;
}

.card {
  width: 340px;
  height: 320px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
}
.card:hover {
  /* При наведении, поварачиваем задний элемент нам передом, чтобы мы его видели. */
}
.card:hover .front {
  /* При наведении, поворачиваем элемент на 180 градусов, чтобы этот элемент был повёрнут к пользователю задом, 
  а мы сделали backface-visibility: hidden, поэтому элемент не будет виден. 
  Поставлено "-180deg", а не просто "180deg", чтобы при повороте back элемента они не перекрещивались. */
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover .back {
  transform: perspective(600px) rotateY(0);
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  /* Свойство backface-visibility определяет, должна ли быть видна задняя поверхность элемента, когда он обращен к пользователю. 
  Задняя поверхность элемента является зеркальным отражением отображаемой передней поверхности. 
  Оно позволяет выбрать, должен ли пользователь видеть заднюю поверхность или нет. */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 0.5s ease;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(85, 8, 85), black);
}

.front {
  /*  свойство perspective определяет на сколько элемент удален от точки обзора. 
  Чем больше значение, указанное для перспективы, тем дальше от пользователя расположен элемент. 
  Но на самом деле, оно здесь почему то не влияет на то, как мы видим элемент, скорей всего автор ошибся. */
  transform: perspective(600px) rotateY(0);
}
.front img {
  width: 100%;
  height: auto;
}

.back {
  /* Делаем переворот 180 градусов сразу, чтобы этот элемент был повёрнут к пользователю задом, 
  а мы сделали backface-visibility: hidden, поэтому элемент не будет виден. */
  transform: perspective(600px) rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.back h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(110, 40, 144);
  font-size: 24px;
}
.back h1 span {
  display: flex;
  font-size: 18px;
  font-weight: 800;
  margin: 5px 0 10px;
  justify-content: baseline;
  align-items: baseline;
  gap: 5px;
}
.back h1 span span {
  color: rgb(56, 8, 81);
}
.back .socials {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.back .socials a {
  color: rgb(91, 23, 128);
  display: inline-flex;
  width: 40px;
  height: 40px;
  /* Выравниваем иконки, которые находятся в тегах <a> по центру */
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  transition: 0.4s ease;
}
.back .socials a:hover {
  background-color: rgb(91, 23, 128);
  color: rgb(167, 0, 250);
}

/* КАРТОЧКИ СО СКОШЕННЫМ ДИЗАЙНОМ. https://www.youtube.com/watch?v=1JYPSI1ZDBc&list=PLNkWIWHIRwMEosiVP_3B-h4fE7CIfZ7pI&index=3&pp=iAQB */
.wrapper3 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(#000, #01042d);
  font-family: "Titillium Web", sans-serif;
  /* z-index нужен для того, чтобы background корректно отображался, так как теперь wrapper3 формирует новый контекст позиционирования. */
  position: relative;
  z-index: 0;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

.content {
  position: relative;
  padding: 20px;
  color: #fff;
}
.content h2 {
  position: absolute;
  top: -60px;
  right: 20px;
  margin: 0;
  padding: 0;
  font-size: 160px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.06);
  transition: 0.5s;
}
.content h3 {
  margin: 0 0 10px;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 700;
}
.content p {
  margin: 0;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.2;
}
.content button {
  cursor: pointer;
  position: relative;
  margin: 20px 0 0;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
  text-transform: uppercase;
  font-size: 12px;
  z-index: 1;
}
.content button:hover {
  color: #000;
  background-color: #fff;
}

.box {
  width: 300px;
  min-height: 450px;
  cursor: pointer;
  position: relative;
  background-color: #040a20;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid rgba(0, 0, 0, 0.5);
  /* Сдвиг при наведении */
}
.box:hover .content h2 {
  top: -120px;
}
.box:hover .content button {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.06);
}
.box::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  /* skew() трансформирует элемент, наклоняя его в 2D-пространстве. */
  transform: skew(2deg, 2deg);
  z-index: -1;
}
.box:nth-child(1):before {
  background: linear-gradient(#ff0000, #0037ff);
}
.box:nth-child(2):before {
  background: linear-gradient(#d3ff00, #17f4ff);
}
.box:nth-child(3):before {
  background: linear-gradient(#af36ff, #ff0070);
}

/* КНОПКИ СОЦИАЛЬНЫХ СЕТЕЙ С КРЕАТИВНЫМ HOVER-ЭФФЕКТОМ. https://www.youtube.com/watch?v=IqMBPjwg8nM&list=PLNkWIWHIRwMEosiVP_3B-h4fE7CIfZ7pI&index=4 */
.wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #ee0979, #ff6a00);
}

.container4 {
  display: flex;
  list-style: none;
}
.container4 li {
  margin: 10px;
}
.container4 a {
  text-decoration: none;
  background-color: #f1f1f1;
  color: #ff2626;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  box-shadow: -5px 5px 20px -5px #010101;
  position: relative;
  overflow: hidden;
  /* Создаём штуку, которая будет покрывать элемент при наведении */
}
.container4 a i {
  font-size: 34px;
  transition: 0.3s ease;
}
.container4 a:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: #ff2626;
  left: -110%;
  top: 90%;
  /* Поворачиваем её на 45 градусов, чтобы лучше выглядела */
  transform: rotate(45deg);
}
.container4 a:hover {
  /* Увеличиваем иконку и меняем её цвет при наведении */
}
.container4 a:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}
.container4 a:hover::before {
  animation-name: hover;
  animation-duration: 0.6s;
  top: -10%;
  left: -10%;
}

@keyframes hover {
  /* Сначала позиция таже, что и изначально */
  0% {
    top: -110%;
    left: 90%;
  }
  /* Потом позиционируем элемент ниже и правее */
  50% {
    top: 10%;
    left: -30%;
  }
  /* И чтобы красный фон полностью заполнил элемент позициионируем ещё раз */
  100% {
    top: -10%;
    left: -10%;
  }
}
/* КНОПКA С НЕОНОВЫМ СВЕТОМ. https://www.youtube.com/watch?v=iha5Z6qv8xs&list=PLNkWIWHIRwMEosiVP_3B-h4fE7CIfZ7pI&index=5 */
.wrapper5 {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, #333, #5a5454);
}

.wrapper5 button {
  font-family: "Gochi Hand", cursive;
  position: relative;
  color: #1bffff;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 100px;
  letter-spacing: 3px;
  overflow: hidden;
  padding: 5% 10%;
  cursor: pointer;
  border: none;
  transition: 0.6s ease;
}
.wrapper5 button:hover {
  color: #333;
  background-color: #1bffff;
  transition-delay: 0.5s;
  box-shadow: 0 0 10px #1bffff, 0 0 40px #1bffff, 0 0 80px #1bffff;
}
.wrapper5 button:hover span:nth-child(1) {
  left: 100%;
}
.wrapper5 button:hover span:nth-child(2) {
  top: 100%;
}
.wrapper5 button:hover span:nth-child(3) {
  right: 100%;
}
.wrapper5 button:hover span:nth-child(4) {
  bottom: 100%;
}
.wrapper5 button span {
  display: block;
  position: absolute;
  transition: 0.6s ease;
}
.wrapper5 button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, transparent, #1bffff);
  transition-delay: 0.25s;
}
.wrapper5 button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #1bffff);
}
.wrapper5 button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(270deg, transparent, #1bffff);
  transition-delay: 0.25s;
}
.wrapper5 button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(0, transparent, #1bffff);
}

/* МИНИМАЛИСТИЧНАЯ СТРАНИЦА ОШИБКИ. https://www.youtube.com/watch?v=32GwTL-8yXQ&list=PLNkWIWHIRwMEosiVP_3B-h4fE7CIfZ7pI&index=6 */
.wrapper6 {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(80deg, violet, black, black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container6 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container6 h2 {
  margin: 10px 0;
}
.container6 h2 span {
  color: rgb(34, 2, 47);
}
.container6 h1 {
  margin: 0;
  font-size: 170px;
  letter-spacing: 20px;
  /* Задаём background изображением */
  background: url(logo.png) center;
  background-size: contain;
  /* Свойство -webkit-text-fill-color равносильно свойству color для текста. Т.е просто меняет цвет текста */
  -webkit-text-fill-color: transparent;
  /* Свойство background-clip определяет, где простирается фон элемента, в нашем случае - за текстом. */
  background-clip: text;
  -webkit-background-clip: text;
}
.container6 p {
  font-size: 20px;
}
.container6 p span {
  color: rgb(54, 4, 75);
}
.container6 a {
  display: inline-block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 3% 6%;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.6s ease;
  position: relative;
  z-index: 0;
  /* Создаём 2 псевдоэлемента и в каждом задаём свойство background cо своими значениями.
  У after свойство opacity равно 0, поэтому виден только before.
  А при наведении, after делаем opacity: 1, а before делаем opacity: 0, чтобы был виден только фон after. */
}
.container6 a:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, violet, black, black);
  z-index: -1;
  left: 0.5%;
  bottom: 5%;
  transition: all 0.6s ease;
}
.container6 a:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, black, black, violet);
  z-index: -1;
  left: 0.5%;
  bottom: 5%;
  opacity: 0;
  transition: all 0.6s ease;
}
.container6 a span {
  color: rgb(54, 4, 75);
}
.container6 a:hover {
  color: rgb(54, 4, 75);
}
.container6 a:hover span {
  color: black;
}
.container6 a:hover:before {
  opacity: 0;
}
.container6 a:hover:after {
  opacity: 1;
}

/* ОТЗЫВЧИВОЕ МЕНЮ НАВИГАЦИИ. https://www.youtube.com/watch?v=z-3hnHn6V5w&list=PLNkWIWHIRwMEosiVP_3B-h4fE7CIfZ7pI *//*# sourceMappingURL=style.css.map */